export SECRET_KEY_BASE=RyPfBuSUW1HGoLgbjexlm1Co//Glfq8EuhV8YM3Tg9FmdL2MXIxGEywck/a/hvHh
export POSTGRES_SALT=2jgywGIY
export POOL_SIZE=10
export POSTGRES_USERNAME=postgres
export POSTGRES_PASSWORD=password123
export POSTGRES_HOST=localhost
export POSTGRES_DATABASE=postgres
export POSTGRES_PORT=5432
export PORT=4000